.halla{
    font-family: 'Work Sans', sans-serif;
}
.top{
    margin-left:35%;
}
  .about{
    font-size: 30px;
    padding-left: 10%;
    padding-top: 10px;
    animation: nalla ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes nalla {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.taxt{
    padding-left:10%;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    animation: nalla ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.soft{
    padding-left:10%;
    font-size:40px;
    animation: nalla ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.null{
    margin-left: 10%;
    border-radius: 25px;
}
.parent{
    position:relative;
    animation: nalla ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.nub{
    margin-left: 15%;
    margin-bottom: 15%;
    position:absolute;
}
.nulla{
    margin-left: 30%;
    position:absolute;
    border-radius: 25px;
    
}
.nap {
    margin-left:70%
}
.rebibe{
    margin-left: 10%;
    position:absolute;
    border-radius: 25px;
    
}
.music{
    margin-left: 67%;
    position:absolute;
    border-radius: 25px;
    
}
.common{
    position:relative
}
.nay{
    margin-top: 22%;
    margin-left: 20%;
    position:absolute
}
.may{
    margin-top: 22%;
    margin-left: 78%;
    margin-bottom: 10%;
    position:absolute
}
.proj{
    font-size: 70px;
    color:grey
}
.f{
    margin-top: 30%;
    margin-left: 10%;
    font-size: 40px;
    animation: nalla ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.aee{
    background-color:grey;
    color:white;
}
.aee:hover{
    background-color: blue;
    transition-duration: 2s;
}
